{% extends "base.html" %}

{% block main %}

<div class="login-page d-flex flex-column ">
  <div class="login-form-header d-flex justify-content-center">
    <h2 id='login-page-text'>Add New Recipe</h2>
  </div>
  {% include 'flash_messages.html' %}
  <form action="{{ url_for('login') }}" enctype="multipart/form-data" method="post" class="recipe-form rounded">
    {{ form.csrf_token }}

    <h4 class='form-header'>My Recipe</h4>
    <div class="form-group short-input">
      {{ form.name.label }}
      {{ form.name(class='form-control', placeholder="name") }}
    </div>
    <div class="form-group short-input">
      {{ form.calories.label }}
      {{ form.calories(class='form-control', placeholder="calories") }}
    </div>
    <div class="form-group short-input">
      {{ form.no_ingredients.label }}
      {{ form.no_ingredients(class='form-control', placeholder="eg. 8") }}
    </div>
    <div class="form-group short-input">
      {{ form.no_instructions.label }}
      {{ form.no_instructions(class='form-control', placeholder="eg. 5") }}
    </div>
    <div class="recipe-steps d-flex gap-5 step{{i}}">
        <div class="form-group">
            {{ form.ingredient.label }}
            {{ form.ingredient(class='form-control', placeholder="Separate each ingredient by a comma") }}
          </div>
          <div class="form-group">
            {{ form.instruction.label }}
            {{ form.instruction(class='form-control', placeholder="Separate each instruction by a comma") }}
          </div>
    </div>

    <div class="form-group">
      {{ form.image.label }}
      {{ form.image}}
    </div>
    <div class="submit-btn-container d-flex justify-content-center">
      <button type="submit" name="submit" class="btn custom-btn submit-btn">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
