{% extends "base.html" %}

{% block main %}
<div class='home-page'>
    <h1 class="page-header">COMP3161 Project</h1>
    <div class="members-heading">
        <h2 class="">Group Members</h2>
    </div>
    <ul class="group-members">
        <li class="member">Nathaniel Bedassie</li>
        <li class="member">Kyle Sterling</li>
        <li class="member">Toya Pinnock</li>
        <li class="member">Phillip Llewellyn</li>
        <li class="member">Roneil Barrett</li>
    </ul>
</div>
{% endblock %}