{% extends "base.html" %}

{% block main %}

<div class="mealplan">
    <div class="mealplan-header d-flex flex-column align-items-center">
        <h2>Meal Plans</h2>
    </div>
    <section>
        <h3>Generate Meal Plan</h3>
        <form name="form" action="{{ url_for('mealPlan') }}" method="post" class="">
            {{ form.csrf_token }}
            
            <h4 class='form-header'>Enter Calories for the Week:</h4>
            <div class="form-group">
              {{ form.calories.label }}
              {{ form.calories(class='form-control', placeholder="14000") }}
            </div>
            <div class="d-flex justify-content-center">
              <button id="generate" type="submit" name="submit" class="btn custom-btn submit-btn">Create Plan</button>
            </div>
          </form>
    </section>
    <section>
        <h3>Your Meal Plan</h3>
        {% if length == 0 %}
            <p> You have no meal plan </p>
        {% else %}
            <h3>Total Calories: {{ total_calories }}</h3>
            <h2>Breakfast</h2>
            <div id="breakfast" class="plan">
                {% for recipe in plan["breakfast"] %}
                    <div class="plan_item">
                        <h4>{{ recipe["recipe_name"] }}</h4>
                        <img src="{{ recipe['image_url'] }}" alt="meal_img">
                        <p>Number of Servings: {{ recipe['num_servings'] }}</p>
                        <p>Calories: {{ recipe['num_servings'] * recipe['calorie'] }}</p>
                    </div>
                {% endfor %}
            </div>

            <h2>Lunch</h2>
            <div id="lunch" class="plan">
                {% for recipe in plan["lunch"] %}
                <div class="plan_item">
                    <h4>{{ recipe["recipe_name"] }}</h4>
                    <img src="{{ recipe['image_url'] }}" alt="meal_img">
                    <p>Number of Servings: {{ recipe['num_servings'] }}</p>
                    <p>Calories: {{ recipe['num_servings'] * recipe['calorie'] }}</p>
                </div>
                {% endfor %}
            </div>

            <h2>Dinner</h2>
            <div id="dinner" class="plan">
                {% for recipe in plan["dinner"] %}
                <div class="plan_item">
                    <h4>{{ recipe["recipe_name"] }}</h4>
                    <img src="{{ recipe['image_url'] }}" alt="meal_img">
                    <p>Number of Servings: {{ recipe['num_servings'] }}</p>
                    <p>Calories: {{ recipe['num_servings'] * recipe['calorie'] }}</p>
                </div>
                {% endfor %}
            </div> 
        {% endif %}
    </section>
</div>

{%endblock%}