{% extends "base.html" %}

{% block main %}

{% include "flash_messages.html"%}
<div class="recipe-header-container d-flex">
  <div class="recipe-header d-flex flex-column align-items-center">
      <h2>Search</h2>
      <div class="form">
          <div class="form-group mb-2 search-comp d-flex">
              <label class="sr-only" for="search">Search</label>
              <input type="search" name="search" id="search" class="form-control mb-2 mr-sm-2" placeholder="Search Recipes" />
              <button class="btn mb-2 search-btn custom-btn">Search</button> 
          </div>
      </div>
  </div>
</div>

    <h1>My Recipes</h1>
    <div class="card-deck">	
        {% for p in lst %}

            <div class="card" >
              <image src="{{ p.image_url }}" class="card-img-top no" alt="..."></image>
                <div class="recipe">
                  <div class="col">
                    <h5 class="card-title font-weight-bold mb-1">{{ p.name }}</h5>
                    <p class="card-text text-muted"><i class="fas fa-map-marker-alt"></i>  {{ p.date_created }}</p>
                    <p class="card-text text-muted">Calories: {{ p.calorie }}</p>
                    <span></span>
                  </div>
                </div>
                <span></span>
                <div class="button-cl">
                  <button><a class="btn btn-block specific-green" href="{{ url_for('getIndividualRecipe', recipieid= p.id) }}">View Recipie</a></button>
              </div>
            </div>
                {% endfor %}
              </div>



{%endblock%}