{% extends "base.html" %}

{% block main %}

	<div class="card mb-3 sh" style="max-width: 750px;">
		<div class="row no-gutters">
			<div class="col-md-8">
				<div class="card-body">
				<h5 class="card-title">{{recipe.name}}</h5>
				<p class="card-text">{{recipe.date_created}}</p>
                <p class="card-text">{{recipe.calorie}}</p>
               <div>
                    <h6>Description</h6>
                    {% for p in instructions %}
                        <p class="card-text">{{p.name}}</p>
                    {% endfor %}
               </div><br><br>

               <div>
                <h6>Ingredient & Amount Needed</h6>
                {% for i in  %}
                    <p class="card-text">{{ingredients.name}}    {{ingredients.quantity}}{{i.unit}}</p>
                {% endfor %}
           </div>

    		</div>
        </div>
	</div>
{% endblock %}