{% extends "base.html" %}

{% block main %}

	<div class="card mb-3 sh" style="max-width: 750px;">
		<div class="row no-gutters">
            <image src="{{ recipe.image_url }}" class="card-img-top no" alt="..."></image>
			<div class="col-md-8">
				<div class="card-body">
				<h5 class="card-title">{{recipe.name}}</h5>
				<p class="card-text">Date Created: {{recipe.date_created}}</p>
                <p class="card-text">Calories: {{recipe.calorie}}</p>
               <div>
                    <h5 class="card-title">Steps</h5>
                    {% for p in instructions %}
                        <p class="card-text">{{p.step_no}}. {{p.description}}</p>
                    {% endfor %}
               </div><br><br>

               <div>
                <h5 class="card-title">Ingredient & Amount Needed</h5>
                {% for i in ingredients %}
                    <p class="card-text">{{i.name}}    {{i.quantity}} {{i.unit}}</p>
                {% endfor %}
           </div>

    		</div>
        </div>
	</div>
{% endblock %}