{% extends "base.html" %}

{% block main %}

<div class="recipe-header-container d-flex">
    <div class="recipe-header d-flex flex-column align-items-center">
        <h2>Recipes</h2>
        <div class="form">
            <div class="form-group mb-2 search-comp d-flex">
                <label class="sr-only" for="search">Search</label>
                <input type="search" name="search" id="search" class="form-control mb-2 mr-sm-2" placeholder="Search Recipes" />
                <button class="btn mb-2 search-btn custom-btn">Search</button> 
            </div>
        </div>
    </div>
</div>

<ul class="recipes row row-cols-1 row-cols-md-4 g-4">
    {% for p in recipes %}
    <li class="recipe">
        <div class="col">
            <!--<a href="{{ url_for('getImage', filename=recipe) }}" class='card'>
                <img src="{{ url_for('getImage', filename=recipe) }}" class="card-img-top" alt="Recipe image">-->
                <div class="card-body">
                    <p>{{ p[1] }}</p>
                    <p>{{ p[2] }}</p>
                </div>
                <div class="">
                    <button><a class="btn btn-block specific-green" href="{{ url_for('getRecipe', recipieid= p[0]) }}">View Recipe</a></button>
                </div>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>


{%endblock%}