{% extends "base.html" %}

{% block main %}

<div class="recipe-header-container d-flex">
    <div class="recipe-header d-flex flex-column align-items-center">
        <h2>Recipes</h2>
        <div class="form">
            <form class = "form-group mb-2 search-comp d-flex" method="POST" enctype="multipart/form-data" action="{{ url_for('recipes') }}">
                {{ form.csrf_token }}

                {{ form.rname.label(class="sr-only") }}<br/>
                {{ form.rname(class="form-control mb-2 mr-sm-2", placeholder="Search Recipes") }}<br/>
                <button type="submit" name="submit" class="btn mb-2 search-btn custom-btn">Search</button> 
          
                    
                </div>
            </form>
        </div>
    </div>
</div>

<ul class="recipes row row-cols-1 row-cols-md-4 g-4">
    {% for recipe in recipes %}
    <li class="recipe" >
        <div class="col">
            <a href="{{ url_for('getIndividualRecipe', recipieid= recipe.id) }}" class='card'>
                <img src="{{ recipe.image_url }}" class="card-img-top" alt="Recipe image">
                <div class="card-body">
                    <p>Name: {{ recipe.name }}</p>
                    <p>Calorie: {{ recipe.calorie }}</p>
                    <p>Creation Date: {{ recipe.date_created }}</p>
                </div>
                <div class="">
                    <button><a class="btn btn-block specific-green" href="{{ url_for('getIndividualRecipe', recipieid= recipe.id) }}">View Recipe</a></button>
                </div>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>


{%endblock%}