{% extends "base.html" %}

{% block main %}

<div class="shoppinglist">
    <div class="shoppinglist-header d-flex flex-column align-items-center">
        <h2>Shopping List</h2>
    </div>
    <div id="shoppinglist-body">
        <table class="table table-bordered table-striped">
            <thead class="">
              <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for ing in Shopping_ingredients%}
                <tr>
                  <th scope="row">{{ ing.name }}</th>
                  {% if ing.quantity > 1 %}
                    <td>
                      {{ ing.quantity }} 
                      {{ ing.unit }}s <!-- add an 's' to quantities > 1 -->
                    </td>
                  {% else %}
                    <td>
                      {{ ing.quantity }} 
                      {{ ing.unit }}
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}